body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: rgb(255, 0, 0);
}


p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 10vw;
}