    body{
        background-color: #D9B384;
        display: flex;
        justify-content: center;
    }




    .body-partie{
        margin-top: 12vh;

        width: 88vw;
        height: 80vh;

        display: flex;
        align-items: center;
        justify-content: center;
        
    }




    .contour{
        

        /* From https://css.glass */
        background: rgba(131, 140, 59, 0.27);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
        border: 3px solid rgba(131, 140, 59, 0.38);


        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;



        width: 120vh;
        height: 75vh;
        border-radius: 10px;
    
    }


    .contour:hover{

        border: 3px solid #402813;

        }






    .titre-partie{
        margin-left: 5vh;
        font-size: 2vw;
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }






    .inputpartieensemble{
        margin-left: 12vh;

        width: 52vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 4vh;
    }


    .ensemble_partie_reprendre{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        width: 52vw;
        height: 20vh;

    }




    .reprendre_partie_texte{
        font-size: 2vw;


        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #402813;
    }

    .partie_chiffre{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2vw;
        color: #ffffff;
    }

















    .boutonentre{
        border: solid;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-color: rgba(184, 199, 70, 0.38);
        color: #ffffff;
        border-radius: 5px;
        width: 10vw;
        height: 7vh;
        background-color: #838C3B;
        font-size: 1.4vw;

    }



    .boutonentre:hover{
        border-color: #402813;
        color: #402813;
    
    }
















    .ensemble_partie_changer{
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 52vw;
        height: 20vh;

    }

    .changer_partie_texte{
        font-size: 2vw;

        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #402813;
    }


    .input_changer_partie{
        justify-content: center;
        height: 4vw;
        width: 4vw;
    
        margin-left: 10vh;
        font-size: 1.5vw;
        border-radius: 5px;
        border: none;
    }




    



    

    

    .boutonentretext{
        border: solid;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-color: rgba(184, 199, 70, 0.38);
        color: #ffffff;
        border-radius: 5px;
        width: 25vh;
        background-color: #838C3B;
        font-size: 1.4vw;
        margin-left: 50vh;
    }



    .boutonentretext:hover{
        border-color: #402813;
        color: #402813;
    
    }


   
    .texteerreur{
        color: red;
        font-size: 2.3vw;
        margin-top : -2.5vh;
        margin-left: 8vw;
    }
