body{
    background-color: #D9B384;
    display: flex;
}



.nav-barre{
    background-color: #838C3B;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 8vh;
    position: fixed;
    display: flex;
}

.nav-barre-gauche{

    width: 7vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_du_jeu_nav{
    width: 3.5vw;

}

.nav-barre-centre{

    width: 73vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-barre-titre{
    color: #ededed;
    font-size: 2.7vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-barre-droite{

    width: 20vw;
    display: flex;
}

.nav-barre-droite-gauche{

    width: 8vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-barre-droite-droite{

    width: 8vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-barre-boutton{
    border: solid;
    border-color:#402813;
    border-radius: 13px;

    width: 4vw;
    height: 6vh;


    background-color: #A69256;
    color: #402813;
    
    font-size: 1.5vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.nav-barre-boutton:hover{
    background-color: #c4ac64;
}

.nav-barre-boutton-logo{
    height: 4.5vh;

}









.body-main{
    margin-top: 10vh;



    width: 96vw;
    height: 84vh;

    display: flex;
}





.body-main-gauche{

    width: 30vw;
  

}


.body-main-gauche-bas{
    background-color: #736F3D;
}

.graphe{

    border: none;
    border-radius: 15px;
    height: 24vh;
    width: 27vw;
    overflow: hidden;
}










.page-info{
    background-color: #A69256;
    border: none;
    border-radius: 15px;

    margin-top: 5%;
}

.body-main-droite{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    width: 69vw;
    margin-left: 3vw;
}

.body-main-droite-box-boutton{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 7px;



    background-color: #736F3D;
    height: 15vh;
    width: 67vw;


    
}

.info_button_menu{

    height: 100%;
    display: flex;
}

.button_menu{
    display: flex;
    align-items: center;
    height: 100%;

}
